.sidebar {
  flex-shrink: 0;
  padding: 0 36px;
  .sidebar-menu {
    ul {
      list-style: none;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 24px;
      li {
      }
    }
  }
}
